<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="hu" xmlns:fb="http://www.facebook.com/2008/fbml">
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/augment.js/1.0.0/augment.min.js"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/0.5.9/lunr.min.js"></script> <script src="//ingatlan.com/js/compiled/icomtagmanager.min.js"></script> <script src="//components.ingatlan.com/adreport.js"></script> 
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
      <meta name="title" content="Kiadó tégla építésű lakás - Budapest 6. kerület, Szondi utca #23450843" />
      <meta name="description" content="Hosszú távra kiadó a Nyugati térhez közel, nagyon jó tömegközlekedésű területen lévő felújított, csendes, világos, belső udvarra néző, 3...." />
      <meta name="viewport" content="width=1000, target-densitydpi=device-dpi, initial-scale=0, maximum-scale=1, user-scalable=yes" />
      <meta name="customtarget" content="dXNlcmRiX2lkPTQ2JmFkX2RheW9mbW9udGg9MjAmYWRfd2Vla29meWVhcj0zMyZhZF9wYXJvc2hldD1OJmFkX2VydGVrZXNpdGVzX3RpcHVzYT0yJmFkX2luZ2F0bGFuX3RpcHVzPTEwMjUmYWRfYXI9MTAwMDAwJmFkX2tlcnVsZXQ9MzImYWRfZWxoZWx5ZXprZWRlcz0zMzgxNjc1Mw==" />
      <meta property="og:title" content="Kiadó tégla építésű lakás - Budapest 6. kerület
         (Külső-Terézváros), Szondi utca #23450843" />
      <meta property="og:description" content="Hosszú távra kiadó a Nyugati térhez közel, nagyon jó tömegközlekedésű területen lévő felújított, csendes, világos, belső udvarra néző, 3...." />
      <meta property="og:image" content="https://ingatlancdn.com/hirdadmin/t//f0/b1/102873592_l_0.jpg" />
      <meta property="og:url" content="//ingatlan.com/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843?20170820" />
      <title>Kiadó tégla építésű lakás - Budapest 6. kerület, Szondi utca #23450843</title>
      <meta charset="utf-8">
      <link rel="dns-prefetch" href="//code.jquery.com">
      <link rel="dns-prefetch" href="//imgs.adverticum.net">
      <link rel="shortcut icon" href="/favicon.ico" />
      <link rel="alternate" media="only screen and (max-width: 640px)" href="//m.ingatlan.com/23450843" >
      <link rel="canonical" href="//ingatlan.com/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843"/>
      <link rel="stylesheet" type="text/css" media="screen, print" href="/cssm/compiled_detailspage.css?v=e0a77512150c2b3745d7e89bc444ec81" />
      <link rel="stylesheet" type="text/css" media="screen" href="/css/popup.css" />
      <script>if (!User) var User = {};
         User.loggedIn = false;
      </script> 
      <link rel="alternate" hreflang="en" href="//realestatehungary.hu/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843" />
      <link rel="alternate" hreflang="de" href="//immobilienungarn.net/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843" />
      <script>
         (function (d, it) {
             if (!it.version) {
                 window.icomtracker = it;
         
                 it.sourceAppName = '';
                 it.init = function (options) {
                     options = options || {};
         
                     if (options.sourceAppName) {
                         it.sourceAppName = options.sourceAppName;
                     }
         
                     if (options.collectorUrl) {
                         it.collectorUrl = options.collectorUrl;
                     }
         
                     it.data = it.data || [];
         
                     function m(it, f) {
                         it[f] = function () {
                             it.data.push([f].concat(Array.prototype.slice.call(arguments, 0)))
                         }
                     }
         
                     var f = ['track', 'push', 'flush'];
                     for (g = 0; g < f.length; g++) {
                         m(it, f[g]);
                     }
                 }
             }
         
             var h = d.getElementsByTagName('head')[0];
             var s = d.createElement('script');
             s.type = 'text/javascript';
             s.async = 1;
             s.src = '//events.ingatlan.com/js/tracker/v3.js';
             h.appendChild(s);
         })(document, window.icomtracker || []);
         
         icomtracker.init({
             'sourceAppName': 'icomfrontend',
             'collectorUrl': '//events.ingatlan.com/track'
         });
         
      </script> <script>dataLayer = [{"bbid":"8786998742876426","app":"frontend"}];</script> <script>
         dataLayer.push({"pageType":"reszletek","listingType":"Kiad\u00f3","propertyType":"lak\u00e1s","propertySubType":"t\u00e9gla","itemId":23450843,"projectId":"23450843","county":"Budapest","city":"vi-ker","zone":"K\u00fcls\u0151-Ter\u00e9zv\u00e1ros","street":"Szondi utca","price":100000,"area":32,"photoCount":4,"conditionType":"j\u00f3 \u00e1llapot\u00fa","owner":"magan","rank":815});
      </script><!-- Google Tag Manager --><script>
         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-LSRG');
      </script><!-- End Google Tag Manager --><script>
         icomGoogleTagManagerComponents = ["seenBefore"];
         icomTagManagerHelper.init(icomGoogleTagManagerComponents);
      </script><!-- Google Code for Main list --><!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup --> <script type="text/javascript">
         var google_tag_params = {
             listing_id: "23450843",
             listing_pagetype: "offerdetail",
             listing_totalvalue: 100000,
             listing_type: "Kiado",
             city: "Budapest"
         };
      </script>
   </head>
   <body class="site js-site lang-hu ">
      <div style="height: 0px; overflow: hidden;">
         <!-- Google Tag Manager (noscript) -->
         <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-LSRG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
         <!-- End Google Tag Manager (noscript) -->
      </div>
      <div id="dinamic-remarketing-code"></div>
      <div class="cookie-alert js-cookie-alert">
         <div class="cookie-alert__inner">
            <div class="cookie-alert__content"> Oldalainkon HTTP-sütiket használunk a jobb működésért. <a href="https://info.ingatlan.com/aszf/#aszf_adatkezelesi-szabalyzat" target="_blank">További információk</a> </div>
            <a href="#" class="button--secondary button--small cookie-alert__action js-cookie-alert-close"> Rendben </a> 
         </div>
         <a href="#" class="cookie-alert__close js-cookie-alert-close"> <i class="icon icon--delete"></i> </a>
      </div>
      <script>if (!User) var User = {};
         User.loggedIn = false;
      </script>
      <header class="site__header header">
         <div class="header__inner">
            <a href="/" class="header__logo"></a> 
            <nav class="header__navigation"> <a href="//ingatlan.com/ingatlanos/" id="hire-agent" class="header__link js-navbar-hire-agent">Ingatlanos megbízása</a> <a href="#belepes" id="navbar-login" class="header__link js-open-login-popup">Bejelentkezés/Regisztráció</a> <a href="//hirdetesfeladas.ingatlan.com/hirdetesfeladas-azonnal" id="new-listing" class="header__button button--secondary" title="Adja fel ingyenes hirdetését pár perc alatt!"> Hirdetés feladása </a> </nav>
         </div>
      </header>
      <div class="site__content">
         <script>
            var app = app || {};
            
            app.bbid = '8786998742876426';
            app.email = '';
            app.staticMapUrl = '//staticmap.ingatlancdn.com/';
            app.pageType = 'detailspage';
            app.listingId = 23450843;
            app.listingClusterId = 'c_1490137';
            app.userId = 0;
            app.thumbnailUrl = 'https://ingatlancdn.com/hirdadmin/t//f0/b1/102873592_s_0.jpg';
            app.listingData = {"appId":2,"hasRank":1,"hasPublicStreetOrStreetNumber":true};
            app.isM1x = '';
            app.projectId = 23450843;
            app.lakoparkPromotionState = 1;
            app.ssoId = 0;
            app.userType = '';
            app.duplicateCount = 0;
            app.clusterCount = 1;
            app.listingType = 'Kiadó';
            app.application = 'frontend';
            app.showLakoparkBox = true;
            
            document.body.id = app.pageType;
            
            window.listing_pagetype = app.pageType;
            window.listing_id = app.listingId;
         </script> <script type="text/javascript">
            app.redirectUrl = "/terezvaros/kiado+lakas";
         </script>
         <script type="text/template" id="m1x-detailspage-promotion">
            <div class="m1x-promotion">
                <strong>Ismerős ez a hirdetés?</strong> Lépj be, és minden ingatlant csak egyszer mutatunk.
                <a href="#belepes" class="m1x-promotion__action js-open-login-popup js-m1x-promo-login" data-login-type="login">Belépek</a>
            </div>
         </script>
         <div class="m1x-promotion__container js-m1x-promotion is-before-show"></div>
         <div class="js-realtime-saved-search-promo" data-utm-source=""></div>
         <script type="text/template" id="template-realtime-saved-search-promo">
            <div class="realtime-saved-search-promo">
                <div class="realtime-saved-search-promo__time">
                    <i class="realtime-saved-search-promo__icon icon icon--clock"></i>
                    <div class="realtime-saved-search-promo__text-part">Feltöltve: több mint 8 órája</div>
                </div>
                <div class="realtime-saved-search-promo__cta">
                    <div class="realtime-saved-search-promo__cta-text">
                        <strong>Szeretnél azonnal értesülni az új hirdetésekről?</strong>
                        <div class="realtime-saved-search-promo__cta-text__detail">AZONNAL feladás után kiküldjük, CSAK az első 200-nak</div>
                    </div>
                    <a href="/realtime-hifi?utm_source=icom&amp;utm_campaign=reszletek_oldal" class="realtime-saved-search-promo__cta-button button--flat" target="_blank">Tovább</a>
                </div>
            </div>
            
         </script> 
         <div class="card listing">
            <header class="listing-header js-listing-header">
               <h1 class="js-listing-title">6. kerület, Szondi utca</h1>
               <span contenteditable="true" class="prevent-select"></span> <button class="btn-save btn-secondary is-loading"> <i class="icon icon--star"> <span class="loader"></span> </i> <span>Mentés</span> </button> 
            </header>
            <div class="listing-left">
               <div class="listing-image">
                  <div class="listing-subtype">Kiadó tégla építésű lakás</div>
                  <div class="open-gallery"> <i class="icon icon--search"></i> Megnyitom a galériát </div>
                  <div class="image-holder">
                     <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//f0/b1/102873592_l_0.jpg')"></div>
                  </div>
               </div>
               <div class="photo-gallery close-gallery is-hidden">
                  <div class="gallery-holder">
                     <div class="photo-gallery-main close-gallery">
                        <div class="photo-gallery-wrapper close-gallery">
                           <div class="photo-holder is-hidden">
                              <header class="photo-header">
                                 <span class="photo-address">6. kerület, Szondi utca</span> 
                                 <div class="photo-parameters"> <span class="parameter">100 000 Ft</span> <span class="parameter">32 m²</span> <span class="parameter">1 szoba</span> </div>
                                 <button class="btn-save btn-secondary is-loading is-gallery"> <i class="icon icon--star"> <span class="loader"></span> </i> <span>Mentés</span> </button> <button class="btn-close close-gallery"><i class="icon icon--delete close-gallery"></i></button> 
                              </header>
                              <button class="photo-paginate prev-photo"> <i class="icon icon--caret-left"></i> </button> 
                              <div class="image-holder">
                                 <div class="helper"> <img src="https://ingatlancdn.com/hirdadmin/t//f0/b1/102873592_l_0.jpg" /> </div>
                                 <div id="zone1932401" class="goAdverticum"></div>
                              </div>
                              <button class="photo-paginate next-photo"> <i class="icon icon--caret-right"></i> </button> 
                              <div class="photo-counter"></div>
                           </div>
                        </div>
                     </div>
                     <div class="photo-gallery-thumbnails">
                        <ul class="thumbnails">
                           <li class="thumbnail is-hidden" data-index="0">
                              <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//f0/b1/102873592_m_0.jpg');"></div>
                           </li>
                           <li class="thumbnail is-hidden" data-index="1">
                              <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//9f/53/102873585_m_0.jpg');"></div>
                           </li>
                           <li class="thumbnail is-hidden" data-index="2">
                              <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//a9/96/102873593_m_0.jpg');"></div>
                           </li>
                           <li class="thumbnail is-hidden" data-index="3">
                              <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//fc/62/102952205_m_0.jpg');"></div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <script>
                  app.photos = [{"thumbnail_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/f0\/b1\/102873592_m_0.jpg","large_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/f0\/b1\/102873592_l_0.jpg","title":null,"label":"","type":"photo"},{"thumbnail_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/9f\/53\/102873585_m_0.jpg","large_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/9f\/53\/102873585_l_0.jpg","title":null,"label":"","type":"photo"},{"thumbnail_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/a9\/96\/102873593_m_0.jpg","large_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/a9\/96\/102873593_l_0.jpg","title":null,"label":"","type":"photo"},{"thumbnail_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/fc\/62\/102952205_m_0.jpg","large_url":"https:\/\/ingatlancdn.com\/hirdadmin\/t\/\/fc\/62\/102952205_l_0.jpg","title":null,"label":"","type":"photo"}];
                  app.photoCount = 4;
               </script> 
               <div class="listing-parameters">
                  <div class="parameter parameter-area-size"> <span class="parameter-title">Alapterület</span> <span class="parameter-value">32 m²</span> </div>
                  <div class="parameter parameter-room"> <span class="parameter-title">Szobák száma</span> <span class="parameter-value"> 1 </span> </div>
                  <div class="parameter parameter-price"> <span class="parameter-title"> Ár &nbsp;havonta </span> <span class="parameter-value">100 000 Ft</span> </div>
               </div>
            </div>
            <div class="listing-right">
               <div class="listing-map">
                  <ul class="side-thumbnails">
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="1">
                        <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//9f/53/102873585_m_0.jpg');"></div>
                        <div class="open-gallery"><i class="icon icon--search"></i></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="2">
                        <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//a9/96/102873593_m_0.jpg');"></div>
                        <div class="open-gallery"><i class="icon icon--search"></i></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="3">
                        <div class="image" style="background-image: url('https://ingatlancdn.com/hirdadmin/t//fc/62/102952205_m_0.jpg');"></div>
                        <div class="open-gallery"><i class="icon icon--search"></i></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="4">
                        <div class="image" style="background-image: url('/images/house-placeholder.png');"></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="5">
                        <div class="image" style="background-image: url('/images/house-placeholder.png');"></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="6">
                        <div class="image" style="background-image: url('/images/house-placeholder.png');"></div>
                     </li>
                     <li class="thumbnail thumbnail-open-gallery is-hirdadmin " data-index="7">
                        <div class="image" style="background-image: url('/images/house-placeholder.png');"></div>
                     </li>
                     <li class="thumbnail thumbnail-map is-hirdadmin">
                        <div class="thumbnail-map-text">Térkép</div>
                        <a href="#terkep" class="static-map"> <img src="//staticmap.ingatlancdn.com//staticmap.php?size=164x102&amp;zoom=15&amp;center=47.510517,19.064243" /></a> 
                     </li>
                  </ul>
               </div>
               <div class="contact-methods-container">
                  <div class="partner hirdadmin">
                     <div class="dont-call-realtor">Kérem, ingatlanközvetítők ne keressenek!</div>
                     <div class="show-number-list">
                        <div class="phone-number"> <a class="number phone-number-holder">06 20 464</a> <span class="show-number-button is-loading" data-template="phone-number-show-button-template">···</span> </div>
                        <div class="more-phone-number-list"> </div>
                     </div>
                     <script type="text/template" id="phone-number-show-link-template" class="phone-number-show-template">
                        <button class="show-number is-hidden"><span class="loader"></span> - mutasd</button>
                     </script>
                     <script type="text/template" id="phone-number-show-button-template" class="phone-number-show-template">
                        <button class="show-number btn-primary is-hidden"><span class="loader"></span>mutasd</button>
                     </script> <a class="mail-to-owner" href="#uzenet"> <i class="icon icon--envelope"></i> <span class="mail-to-owner-text">Üzenetet küldök</span> </a> 
                  </div>
               </div>
            </div>
            <div class="secondary-actions">
               <nav class="toolbar">
                  <ul>
                     <li class="action-share">
                        <span class="action-share item"><i class="icon icon--envelope"></i>Megosztom</span> 
                        <nav class="share-toolbar">
                           <ul>
                              <li> <a href="#share-mail" class="item btn-share share-email js-email-share"> <i class="icon icon--envelope"></i> Elküldöm e-mailben </a> </li>
                              <li> <a class="item share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fingatlan.com%2F23450843"> <i class="icon icon--facebook"></i> Megosztom Facebookon </a> </li>
                              <li> <a class="item share-twitter" href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fingatlan.com%2F23450843"> <i class="icon icon--twitter"></i> Megosztom Twitteren </a> </li>
                              <li> <a class="item share-google" href="https://plus.google.com/share?url=https%3A%2F%2Fingatlan.com%2F23450843"> <i class="icon icon--googleplus"></i> Megosztom Google+-on </a> </li>
                           </ul>
                        </nav>
                     </li>
                     <li> <a class="item open-print" href="/23450843/nyomtatas" target="print"> <i class="icon icon--print"></i> Kinyomtatom </a> </li>
                     <li> <a href="#" class="btn-hide is-loading item"> <span class="loader"></span> <i class="icon icon--hide"></i> <span>Elrejtem</span> </a> </li>
                     <li> <a class="btn-report item is-emphasized" href="#"> <span class="loader"></span> <i class="icon icon--alert"></i> <span>Jelentem a hirdetést</span> </a> </li>
                  </ul>
               </nav>
               <div class="listing-identity"> <span>Azonosító: <b class="listing-id">23450843</b></span></div>
            </div>
         </div>
         <div class="site-width">
            <div class="container-left-column">
               <div class="card details">
                  <h2 class="card-title">Kiadó tégla építésű lakás</h2>
                  <div class="paramterers">
                     <table>
                        <tr>
                           <td>Ingatlan állapota</td>
                           <td>jó állapotú</td>
                        </tr>
                        <tr>
                           <td>Komfort</td>
                           <td>összkomfortos</td>
                        </tr>
                        <tr>
                           <td>Energiatanúsítvány</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Emelet</td>
                           <td>3</td>
                        </tr>
                        <tr>
                           <td>Épület szintjei</td>
                           <td>3</td>
                        </tr>
                        <tr>
                           <td>Lift</td>
                           <td>nincs</td>
                        </tr>
                        <tr>
                           <td>Belmagasság</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Fűtés</td>
                           <td>gáz (konvektor)</td>
                        </tr>
                        <tr>
                           <td>Légkondicionáló</td>
                           <td>nincs</td>
                        </tr>
                        <tr>
                           <td>Bútorozott</td>
                           <td>megegyezés szerint</td>
                        </tr>
                        <tr>
                           <td>Rezsiköltség</td>
                           <td>15 000 Ft/hó</td>
                        </tr>
                        <tr>
                           <td>Költözhető</td>
                           <td>Azonnal</td>
                        </tr>
                        <tr>
                           <td>Min. bérleti idő</td>
                           <td>nincs</td>
                        </tr>
                     </table>
                     <table>
                        <tr>
                           <td>Akadálymentesített</td>
                           <td>nem</td>
                        </tr>
                        <tr>
                           <td>Fürdő és WC</td>
                           <td>egy helyiségben</td>
                        </tr>
                        <tr>
                           <td>Tájolás</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Kilátás</td>
                           <td>udvari</td>
                        </tr>
                        <tr>
                           <td>Kertkapcsolatos</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Tetőtér</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Gépesített</td>
                           <td>igen</td>
                        </tr>
                        <tr>
                           <td>Kisállat</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Dohányzás</td>
                           <td class="is-empty">nincs megadva</td>
                        </tr>
                        <tr>
                           <td>Parkolás</td>
                           <td>utca, közterület</td>
                        </tr>
                     </table>
                  </div>
                  <div class="long-description"> Hosszú távra kiadó a Nyugati térhez közel, nagyon jó tömegközlekedésű területen lévő felújított, csendes, világos, belső udvarra néző, 3. emeleti lakás. <br />Alacsony rezsi! Külön mérők: víz, gáz, villany. Bútorozatlanul vagy akár Új bútorokkal is. </div>
               </div>
               <script type="text/template" class="template-box-refresh">
                  <div class="refresh-text">Sajnos nem sikerült az adatok megjelenítése</div>
                  <button class="js-refresh-box refresh-button"><i class="icon icon--rotate"></i>Frissítés</button>
               </script> <script>
                  var app = app || {};
                  app.showLakoparkBox = false;
               </script> 
               <div data-br-service="banner/br_hitel_icom_5" data-place="">
                  <div class="loader"></div>
               </div>
               <div class="card location">
                  <header class="location-header">
                     <h2 class="card-title">Térkép</h2>
                     <nav id="map-breadcrumb" class="breadcrumb">...</nav>
                  </header>
                  <div class="map">
                     <div class="map-holder is-loading"></div>
                     <a class="copyright" target="copyright" href="//openstreetmap.org/copyright">&copy; OpenStreetMap</a>
                  </div>
                  <a class="change-to-map-layout" href="/terkep/kiado+lakas+vi-ker">A környék hasonló hirdetései térképen <i class="icon icon--caret-right"></i></a> 
                  <div class="bkk">
                     <div class="card-section-title">BKK megállók a közelben</div>
                     <div class="public-transports">
                        <div class="public-transport-group">
                           <span class="public-transport-name">Busz</span> 
                           <div class="public-transport-routes"> <a href="http://futar.bkk.hu/route/BKK_1050" class="bus bus-105" target="bkk"> 105 </a> </div>
                        </div>
                        <div class="public-transport-group">
                           <span class="public-transport-name">Éjszakai</span> 
                           <div class="public-transport-routes"> <a href="http://futar.bkk.hu/route/BKK_9790" class="night-bus night-bus-979" target="bkk"> 979 </a> </div>
                        </div>
                        <div class="public-transport-group">
                           <span class="public-transport-name">Troli</span> 
                           <div class="public-transport-routes"> <a href="http://futar.bkk.hu/route/BKK_4720" class="trolleybus trolleybus-72" target="bkk"> 72 </a> <a href="http://futar.bkk.hu/route/BKK_4730" class="trolleybus trolleybus-73" target="bkk"> 73 </a> <a href="http://futar.bkk.hu/route/BKK_4760" class="trolleybus trolleybus-76" target="bkk"> 76 </a> </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="card secondary-contact-details">
                  <h2 class="card-title"> Lépjen kapcsolatba a hirdetővel! </h2>
                  <div class="business-partner hirdadmin ">
                     <div class="dont-call-realtor">Kérem, ingatlanközvetítők ne keressenek!</div>
                     <div class="show-number-list">
                        <div class="phone-number"> <a class="number phone-number-holder">06 20 464</a> <span class="show-number-button is-loading" data-template="phone-number-show-link-template">···</span> </div>
                        <div class="more-phone-number-list"> </div>
                     </div>
                     <script type="text/template" id="phone-number-show-link-template" class="phone-number-show-template">
                        <button class="show-number is-hidden"><span class="loader"></span> - mutasd</button>
                     </script>
                     <script type="text/template" id="phone-number-show-button-template" class="phone-number-show-template">
                        <button class="show-number btn-primary is-hidden"><span class="loader"></span>mutasd</button>
                     </script> 
                  </div>
                  <div class="contact-form">
                     <form id="contactform" method="post" action="/detailspage/contact/id/23450843" autocomplete="off" error_feedback="Az üzenet küldése hálózati problémák miatt sikertelen. Kérjük próbálkozzon újra később!">
                        <div class="box-section form">
                           <div class="error-messages is-hidden"></div>
                           <div class="form-elements">
                              <div class="left-col">
                                 <div class="textarea-wrapper"> <textarea rows="5" cols="5" placeholder="Ide írhatja személyes üzenetét, kérdéseit a hirdetőnek" name="ad_contact_form[description]" id="ad_contact_form_description">Kedves Hirdető!
                                    Az ingatlan.com-on találtam a hirdetést.
                                    A kérdésem: </textarea> <span class="character-limit-remaining"></span> 
                                 </div>
                                 <div class="input checkbox remember"> <input type="checkbox" name="ad_contact_form[autofill]" checked="checked" id="ad_contact_form_autofill" /> <label for="ad_contact_form_autofill">Legközelebb töltse ki az adataimat automatikusan</label> </div>
                                 <div class="input checkbox eula"> <input type="checkbox" name="ad_contact_form[accept_eula]" checked="checked" id="ad_contact_form_accept_eula" /> <label for="ad_contact_form_accept_eula">Üzenetem elküldésével elfogadom az ingatlan.com <a href='https://info.ingatlan.com/aszf/' target='_blank'>Általános Szolgáltatási Feltételeit</a></label> </div>
                              </div>
                              <div class="right-col">
                                 <div class="input text"> <input placeholder="Az Ön neve" type="text" name="ad_contact_form[name]" id="ad_contact_form_name" /> </div>
                                 <div class="input text"> <input placeholder="E-mail címe" type="text" name="ad_contact_form[email]" id="ad_contact_form_email" /> </div>
                                 <div class="input text"> <input placeholder="Telefonszáma" type="text" name="ad_contact_form[phone]" id="ad_contact_form_phone" /> </div>
                                 <div class="captcha-wrapper">
                                    <span class="captcha-message">Kérjük, írja be az alább látható kódot:</span> 
                                    <div class="captcha-holder"> <input type="text" name="ad_contact_form[captcha]" class="captcha" id="ad_contact_form_captcha" /><a class='captcha' href='' onClick='return false' title='Új kódot kérek!'><img src='/captcha?r=0.11607352323647' onClick='this.src="/captcha?r=" + Math.random() + "&reload=1"' border='0' class='js-captcha-image captcha__image' /></a> <span class="new-captcha">új kódot</span> </div>
                                 </div>
                              </div>
                           </div>
                           <div class="input text over">
                              <div class="website"> <input placeholder="Weblapja" type="text" name="ad_contact_form[website]" id="ad_contact_form_website" /> </div>
                           </div>
                           <div class="submit"> <button id="sendEmailBtn" class="btn-secondary submit-message" type="submit" name="ad_contact_form_button"><span class="loader"></span>elküldöm</button> </div>
                           <div class="clear"></div>
                        </div>
                     </form>
                  </div>
                  <div class="contact-success is-hidden"></div>
               </div>
               <script type="text/template" id="contact-message-template">
                  <div class="message-text"><%- message %></div>
                  <div class="action-area">
                      <button class="btn-flat new-message">Új üzenet</button>
                  </div>
               </script>
               <script type="text/template" id="contact-form-history-template">
                  <div class="older-messages">
                      <div class="older-messages-title">Korábban küldött üzenetek</div>
                      <div class="older-messages-subtitle">(Az itt megjelenő üzenetek nem publikusak, csak te látod őket)</div>
                      <div class="messages"></div>
                  </div>
               </script>
               <script type="text/template" id="contact-form-history-item-template">
                  <div class="message">
                      <div class="time">
                          <span class="date"><%- date %></span>
                          <%- time %>
                      </div>
                      <div class="text"><%= description.replace(new RegExp('\r?\n', 'g'), '<br>') %></div>
                  </div>
               </script>
               <script type="text/template" id="remaining-characters-template">
                  <% if (remainingCharacters > 0) { %>
                      Még <%- remainingCharacters %> karaktert írhat be
                  <% } else { %>
                      Nem írhat be több karaktert!
                  <% } %>
               </script> 
            </div>
            <div class="container-right-column">
               <div class="banner-area">
                  <div id="zone3685457" class="goAdverticum"></div>
                  <div id="zone3685464" class="goAdverticum"></div>
                  <div id="zone3685461" class="goAdverticum"></div>
                  <div id="zone3798666" class="goAdverticum"></div>
               </div>
            </div>
         </div>
         <div class="similar-listings">
            <div class="site-width">
               <div class="section-title">Hasonló hirdetések</div>
               <div class="listings">
                  <div class="listing is-loader"><span></span><span></span><span></span><span></span><span></span></div>
                  <div class="listing is-loader"><span></span><span></span><span></span><span></span><span></span></div>
                  <div class="listing is-loader"><span></span><span></span><span></span><span></span><span></span></div>
                  <div class="listing is-loader"><span></span><span></span><span></span><span></span><span></span></div>
                  <div class="listing is-loader"><span></span><span></span><span></span><span></span><span></span></div>
               </div>
               <nav class="breadcrumb">
                  <div id="breadcrumbs-wrapper">
                     <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbItem"><a href="/vi-ker" itemprop="url"><span itemprop="title">VI. kerület</span></a></div>
                     <i class="icon icon--caret-right"></i>
                     <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbItem"><a href="/terezvaros" itemprop="url"><span itemprop="title">Terézváros</span></a></div>
                     <i class="icon icon--caret-right"></i>
                     <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbItem"><a href="/terezvaros/kiado+lakas" itemprop="url"><span itemprop="title">Terézváros Kiadó lakások</span></a></div>
                     <i class="icon icon--caret-right"></i><span class="properties"> ingatlanok</span>
                  </div>
               </nav>
            </div>
         </div>
         <script type="text/template" id="contact-form-template">
            <div class="popup-overlay popup-default popup-contact-form">
                <div class="popup-container">
                    <div class="popup-box popup-animate">
                        <i class="popup-close icon icon--delete close"></i>
                        <div class="popup-content">
                            <div class="popup-title">Üzenet küldése a hirdetőnek</div>
                            <div class="error-messages is-hidden"></div>
                            
            <form id="contactform" method="post" action="/detailspage/contact/id/23450843" autocomplete="off" error_feedback="Az üzenet küldése hálózati problémák miatt sikertelen. Kérjük próbálkozzon újra később!">
            <div class="box-section form">
            
                <div class="error-messages is-hidden"></div>
            
                <div class="form-elements">
                    <div class="left-col">
                        <div class="textarea-wrapper">
                            <textarea rows="5" cols="5" placeholder="Ide írhatja személyes üzenetét, kérdéseit a hirdetőnek" name="ad_contact_form[description]" id="ad_contact_form_description">Kedves Hirdető!
            Az ingatlan.com-on találtam a hirdetést.
            A kérdésem: </textarea>                    <span class="character-limit-remaining"></span>
                        </div>
            
                        <div class="input checkbox remember">
                            <input type="checkbox" name="ad_contact_form[autofill]" checked="checked" id="ad_contact_form_autofill" />                    <label for="ad_contact_form_autofill">Legközelebb töltse ki az adataimat automatikusan</label>
                        </div>
            
                        <div class="input checkbox eula">
                            <input type="checkbox" name="ad_contact_form[accept_eula]" checked="checked" id="ad_contact_form_accept_eula" />                    <label for="ad_contact_form_accept_eula">Üzenetem elküldésével elfogadom az ingatlan.com <a href='https://info.ingatlan.com/aszf/' target='_blank'>Általános Szolgáltatási Feltételeit</a></label>                </div>
                    </div>
            
                    <div class="right-col">
                        <div class="input text">
                            <input placeholder="Az Ön neve" type="text" name="ad_contact_form[name]" id="ad_contact_form_name" />                </div>
            
                        <div class="input text">
                            <input placeholder="E-mail címe" type="text" name="ad_contact_form[email]" id="ad_contact_form_email" />                </div>
            
                        <div class="input text">
                            <input placeholder="Telefonszáma" type="text" name="ad_contact_form[phone]" id="ad_contact_form_phone" />                </div>
                        <div class="captcha-wrapper">
                            <span class="captcha-message">Kérjük, írja be az alább látható kódot:</span>
                            <div class="captcha-holder">
                                <input type="text" name="ad_contact_form[captcha]" class="captcha" id="ad_contact_form_captcha" /><a class='captcha' href='' onClick='return false' title='Új kódot kérek!'><img src='/captcha?r=0.11607352323647' onClick='this.src="/captcha?r=" + Math.random() + "&amp;reload=1"' border='0' class='js-captcha-image captcha__image' /></a>                        <span class="new-captcha">új kódot</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input text over">
                    <div class="website">
                        <input placeholder="Weblapja" type="text" name="ad_contact_form[website]" id="ad_contact_form_website" />            </div>
                </div>
            
                <div class="submit">
                    <button id="sendEmailBtn" class="btn-secondary submit-message" type="submit" name="ad_contact_form_button"><span class="loader"></span>elküldöm</button>
                </div>
            
                <div class="clear"></div>
            </div>
            </form>
            
                        </div>
                        <div class="popup-action-area">
                            <a id="custom-button-0" class="popup-action btn-flat close">Bezárom</a>
                        </div>
                    </div>
                </div>
            </div>
         </script>
         <div id="contact"></div>
         <div id="report"></div>
         <script type="text/template" id="share-form-template">
            <div class="dialog popup-email-share email-share js-popup-email-share">
                <div class="dialog__box">
                    <svg class="loading-animation email-share__loader"
             width="40px"
             height="40px"
             viewBox="25 25 50 50"
             xmlns="http://www.w3.org/2000/svg">
            <circle class="loading-animation__circle"
                    fill="none"
                    stroke="#d35630"
                    stroke-width="6"
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    cx="50" cy="50" r="20">
            </circle>
            </svg>
            
            <div class="loading-animation--ie-fallback email-share__loader"></div>
            
            <style>
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                .email-share__loader::after {
                    border: 2px solid #d35630;
                    border-left-color: transparent;
                    height: 36px;
                    width: 36px;
                }
            }
            </style>
                    <i class="dialog__close icon icon--delete close"></i>
                    <div class="email-share__success is-hidden js-success-message">A hirdetést sikeresen elküldted e-mailben.</div>
                    <form class="email-share__form" method="POST" action="/detailspage/suggest/id/23450843" id="email-share-form">
                        <div class="dialog__title">Hirdetés elküldése e-mailben</div>
                        <div class="email-share__error js-error-messages is-hidden"></div>
                        <tr>
            <th><label for="suggest_ad_form_email">Címzett e-mail címe</label></th>
            <td><input class="email-share__input" type="text" name="suggest_ad_form[email]" id="suggest_ad_form_email" /></td>
            </tr>
            <tr>
            <th><label for="suggest_ad_form_message">Üzenet</label></th>
            <td><textarea rows="4" cols="30" class="email-share__input" name="suggest_ad_form[message]" id="suggest_ad_form_message"></textarea></td>
            </tr>
            <tr>
            <th><label for="suggest_ad_form_captcha">Írd be a képen látható számot!</label></th>
            <td><input class="captcha" type="text" name="suggest_ad_form[captcha]" id="suggest_ad_form_captcha" /><a class='captcha' href='' onClick='return false' title='Új kódot kérek!'><img src='/captcha?r=0.13098102395003' onClick='this.src="/captcha?r=" + Math.random() + "&amp;reload=1"' border='0' class='js-captcha-image captcha__image' /></a></td>
            </tr>
                        <div class="email-share__actions submit">
                            <a id="custom-button-0" class="popup-action button--secondary close">Bezárom</a>
                            <button type="submit" class="button--primary"><span class="loader"></span>Elküldöm a hirdetést e-mailben</button>
                        </div>
                    </form>
                </div>
            </div>
         </script>
         <script type="text/template" id="gravity-recommendation-listing-template">
            <a class="listing" href="//ingatlan.com/<%= id %>?gravity" data-id="<%= id %>">
                <span class="listing-image"><img src="<%= image_url %>"><span class="see-listing">Megnézem a hirdetést</span></span>
                <span class="listing-address"><%= address %></span>
                <span class="listing-type"><%= type %></span>
                <span class="listing-parameters">
                    <span><%= price %></span>
                    <span><%= size %></span>
                </span>
            </a>
         </script>
         <div id="share"></div>
      </div>
      <footer class="site__footer footer">
         <div class="footer__wrapper">
            <div class="footer__column">
               <div class="footer__column-title">Magánszemélyeknek</div>
               <a href="//hirdetesfeladas.ingatlan.com/hirdetesfeladas-azonnal" class="footer__link--emphasized button--ghost">Hirdetés feladása</a> <a href="//hirdetesfeladas.ingatlan.com/szolgaltatasaink-maganhirdetoknek/" class="footer__link">Árak és hirdetési lehetőségek</a> <a href="https://info.ingatlan.com/magan/fizetesi-lehetosegek" class="footer__link">Fizetési lehetőségek</a> <a href="//hirdetesfeladas.ingatlan.com/hirdetotabla" class="footer__link">Hirdetőtábla</a> 
            </div>
            <div class="footer__column">
               <div class="footer__column-title">&nbsp;</div>
               <a href="//ingatlan.com/ingatlanos" class="footer__link--emphasized button--ghost">Ingatlanoskereső</a> <a href="https://www.bankracio.hu/hitelkalkulator/lakashitel/1-lakasvasarlasi-hitel-hasznalt-lakasra" class="footer__link">Lakáshitel-kalkulátor</a> <a href="//energiatanusitvany.ingatlan.com" class="footer__link">Energiatanúsítvány</a> <a href="//alaprajz.ingatlan.com" class="footer__link">Alaprajztervező</a> 
            </div>
            <div class="footer__column">
               <div class="footer__column-title">Közvetítőknek</div>
               <a href="#" class="footer__link--emphasized button--ghost js-open-login-popup" data-login-type="office-login">Belépés közvetítőknek</a> <a href="https://info.ingatlan.com/office" class="footer__link">Árak és hirdetési lehetőségek</a> <a href="https://info.ingatlan.com/fizetesi-lehetosegek-irodaknak" class="footer__link">Fizetési lehetőségek</a> <a href="//admin.ingatlan.com/service_v2/office.php?page=kapcsolatfelvetel " class="footer__link">Regisztráció közvetítőknek</a> 
            </div>
            <div class="footer__column">
               <div class="footer__column-title">Csapatunk</div>
               <a href="https://info.ingatlan.com/" class="footer__link">Történetünk</a> <a href="https://info.ingatlan.com/kuldetesunk" class="footer__link">Küldetésünk</a> <a href="https://info.ingatlan.com/impresszum" class="footer__link">Kik vagyunk</a> <a href="https://info.ingatlan.com/sajtoszoba" class="footer__link">Rólunk írták</a> <a href="https://csapatunk.ingatlan.com/allas" class="footer__link">Állások</a> 
            </div>
            <div class="footer__column">
               <div class="footer__column-title">Kapcsolat</div>
               <span class="footer__phone-number">+36 1 237 2060</span> <a href="https://info.ingatlan.com/kapcsolat" class="footer__link">Összes elérhetőségünk</a> <a href="http://sales.ingatlan.com" class="footer__link">Médiaajánlat</a> 
            </div>
         </div>
         <div class="footer__colophon">
            <div class="footer__colophon-wrapper">
               <nav class="footer__colophon-menu"> <span class="footer__copyright">© ingatlan.com - 1999 - 2017</span> <a href="https://info.ingatlan.com/aszf" class="footer__colophon-link">Általános Szolgáltatási Feltételek</a> <a href="//m.ingatlan.com/23450843" class="footer__colophon-link">Mobil nézet</a> <a href="https://www.facebook.com/ingatlancom" class="footer__colophon-link">Facebook</a> </nav>
               <nav class="footer__language-selector"> <a href="//ingatlan.com/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843" class="footer__language is-active">Magyar</a> <a href="http://realestatehungary.hu/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843" class="footer__language">English</a> <a href="http://immobilienungarn.net/vi-ker/kiado+lakas/tegla-epitesu-lakas/budapest+6+kerulet+szondi+utca/23450843" class="footer__language">Deutsch</a> </nav>
            </div>
         </div>
      </footer>
      <div class="login-popup-fade dialog js-close-login-popup">
         <div class="login-popup dialog__box" data-timestamp="Sun Aug 20 2017 20:10:41 +0200">
            <div class="login-popup-inner-fade">
               <svg class="loading-animation login-popup-loader" width="32px" height="32px" viewBox="25 25 50 50" xmlns="http://www.w3.org/2000/svg">
                  <circle class="loading-animation__circle" fill="none" stroke="#d35630" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" cx="50" cy="50" r="20"> </circle>
               </svg>
               <div class="loading-animation--ie-fallback login-popup-loader"></div>
               <style> @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { .login-popup-loader::after { border: 2px solid #d35630; border-left-color: transparent; height: 28px; width: 28px; } }</style>
            </div>
            <div class="login-content">
               <form id="loginform" action="/auth/login" method="post">
                  <div class="login-main">
                     <a class="login-popup-close dialog__close js-close-login-popup"><i class="icon icon--delete"></i></a> 
                     <p class="login-title dialog__title">Lépjen be az ingatlan.com fiókjába!</p>
                     <div class="login-error"></div>
                     <input type="text" name="signin[username]" id="login-email" placeholder="Email cím vagy felhasználónév" autocomplete="off" /> <input type="password" name="signin[password]" id="login-password" placeholder="Jelszó" /> 
                     <div class="login-captcha-holder "> <input type="text" name="signin[captcha]" size="4" placeholder="Ellenőrző kód" class="captcha" autocomplete="off" id="signin_captcha" /><a class='captcha' href='' onClick='return false' title='Új kódot kérek!'><img data='/captcha?r=0.90433245287479' onClick='this.src="/captcha?r=" + Math.random() + "&amp;reload=1"' border='0' class='js-captcha-image captcha__image' /></a> </div>
                     <input type="checkbox" name="signin[remember]" id="stay-logedin" checked="checked" /> <label for="stay-logedin">Belépve maradok</label> <button class="login-btn button--primary">Belépés</button> 
                  </div>
                  <div class="login-bottom">
                     <a href="#" class="go-to-registration"></a> 
                     <div class="login-other social-login-iframe"></div>
                     <script type="text/template" id="social-login-iframe-template">
                        <p class="other-login-text">Beléphet Facebook vagy Google profiljával is:</p>
                        <iframe class="other-login-buttons" src="//sso.ingatlan.com/frontend_fb_register" scrolling="no"></iframe>
                     </script> 
                  </div>
                  <a href="#" class="forgotten-password go-to-forgotten-password">Elfelejtett jelszó</a>
               </form>
               <form id="registrationform" action="/user/register" method="post">
                  <div class="login-main">
                     <a class="login-popup-close dialog__close js-close-login-popup"><i class="icon icon--delete"></i></a> 
                     <p class="login-title dialog__title">Regisztráció</p>
                     <div id="registration-error"></div>
                     <input type="text" name="registration_form[email]" id="registration-email" placeholder="Email cím" autocomplete="off"> <input type="password" name="registration_form[password]" id="registration-password" placeholder="Jelszó"> <input type="password" name="registration_form[password_retype]" id="confirm-password" placeholder="Jelszó még egyszer"> 
                     <div class="send-dm-email-wrapper"> <input type="checkbox" name="registration_form[send_dm_email]" id="send-dm-email" /> <label for="registration_form_send_dm_email">Segítsetek az ingatlan.com tippekkel</label> </div>
                     <div class="registration-captcha-holder"> <label class="input"> <input type="text" name="registration_form[captcha]" size="4" placeholder="Ellenőrző kód" autocomplete="off" class="captcha" id="registration_form_captcha" /><a class='captcha' href='' onClick='return false' title='Új kódot kérek!'><img data='/captcha?r=0.4397865652292' onClick='this.src="/captcha?r=" + Math.random() + "&amp;reload=1"' border='0' class='js-captcha-image captcha__image' /></a> </label> </div>
                     <button class="login-btn button--primary">Regisztráció</button> 
                  </div>
                  <div class="login-bottom">
                     <a href="#" class="go-to-login"></a> 
                     <div class="login-other social-login-iframe"></div>
                     <script type="text/template" id="social-login-iframe-template">
                        <p class="other-login-text">Beléphet Facebook vagy Google profiljával is:</p>
                        <iframe class="other-login-buttons" data-src="//sso.ingatlan.com/frontend_fb_register" scrolling="no"></iframe>
                     </script> 
                  </div>
                  <a href="#" class="forgotten-password go-to-forgotten-password">Elfelejtett jelszó</a>
               </form>
               <div id="forgotten-password-form">
                  <a class="login-popup-close dialog__close js-close-login-popup"> <i class="icon icon--delete"></i> </a> 
                  <p class="login-title dialog__title">Elfelejtett jelszó</p>
                  <iframe frameborder="0" data-src="//sso.ingatlan.com//forgotpassword"></iframe> 
               </div>
            </div>
         </div>
      </div>
      <div class="after-registration-popup">
         <a class="after-registration-popup-close"><i class="icon icon--delete"></i></a> 
         <h2 class="after-registration-title">Sikeres regisztráció</h2>
         <div class="after-registration-texts">
            <div class="after-registration-seen">Mostantól ha bárhonnan bejelentkezel, mindig látni fogod, hogy milyen hirdetéseket néztél már meg!</div>
         </div>
      </div>
      <script>var url_base = 'https://ingatlan.com/';</script> <script>if (!Site) var Site = {}; Site.baseUrl = 'https://ingatlan.com/'; Site.app = 'frontend'; </script> <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js?v=9094"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js?v=5604"></script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js?v=5243"></script>
      <script type="text/javascript" src="//static.bankracio.hu/assets/js/brhu_insert.js?v=8289"></script>
      <script type="text/javascript" src="/js/eventDispatcher.js?v=5148"></script>
      <script type="text/javascript" src="/js/jquery.icomtooltip.js?v=3809"></script>
      <script type="text/javascript" src="//9162.findgore.com/urltrack.js?v=4818"></script>
      <script type="text/javascript" src="//9162.findgore.com/formtrack.js?v=3659"></script>
      <script type="text/javascript" src="//events.ingatlan.com/js/tracker/v3.js?v=1966"></script>
      <script type="text/javascript" src="/jsm/compiled_detailspage.js?v=8b6cd37a5c8061fee6c5b90c5abbd004"></script> <script>
         $(document).ready(function () {
             icomTagManagerHelper.checkIfPageLoaded();
         });
      </script>
   </body>
</html>